# Byte-compiled / optimized / DLL files
compiler/src/__pycache__
compiler/tests/__pycache__
compiler/lib/.~lock.*.xlsx#

# Installer logs
logs

# unit tests
.pytest_cache
compiler/tests/.test_cache

# coverage reports
.coverage
htmlcov
coverage*

# pyenv

# virtual environments
.pyVenvOpenTcam
.py*
.venv*

# pdoc documentation
docs

# pylint config file
!.pylintrc