#N
out_rdata\[32\]
out_rdata\[33\]
out_rdata\[34\]
out_rdata\[35\]
out_rdata\[36\]
out_rdata\[37\]
out_rdata\[38\]
out_rdata\[39\]
out_rdata\[40\]
out_rdata\[41\]
out_rdata\[42\]
out_rdata\[43\]
out_rdata\[44\]
out_rdata\[45\]
out_rdata\[46\]
out_rdata\[47\]
out_rdata\[48\]
out_rdata\[49\]
out_rdata\[50\]
out_rdata\[51\]
out_rdata\[52\]
out_rdata\[53\]
out_rdata\[54\]
out_rdata\[55\]
out_rdata\[56\]
out_rdata\[57\]
out_rdata\[58\]
out_rdata\[59\]
out_rdata\[60\]
out_rdata\[61\]
out_rdata\[62\]
out_rdata\[63\]
in_clk

#S
out_rdata\[0\]
out_rdata\[1\]
out_rdata\[2\]
out_rdata\[3\]
out_rdata\[4\]
out_rdata\[5\]
out_rdata\[6\]
out_rdata\[7\]
out_rdata\[8\]
out_rdata\[9\]
out_rdata\[10\]
out_rdata\[11\]
out_rdata\[12\]
out_rdata\[13\]
out_rdata\[14\]
out_rdata\[15\]
out_rdata\[16\]
out_rdata\[17\]
out_rdata\[18\]
out_rdata\[19\]
out_rdata\[20\]
out_rdata\[21\]
out_rdata\[22\]
out_rdata\[23\]
out_rdata\[24\]
out_rdata\[25\]
out_rdata\[26\]
out_rdata\[27\]
out_rdata\[28\]
out_rdata\[29\]
out_rdata\[30\]
out_rdata\[31\]
in_wdata.*

#E
in_csb

#W
in_web
in_wmask.*
in_addr.*